:root{
	--bg-color-dark: #030d0b;
	--text-color-dark: #e7f9f4;
	--grid-color-dark: #CCC;
	--canvas-border-color-dark: #000;
	--settings-border-color-dark: #666666;
	--settings-bg-color-dark: #121244;
	--input-bg-color-dark: #333333;
	--input-border-color-dark: #333333;
	--link-color-dark: #AAF;
	--theme-bg-color-dark: #444;
	--theme-color-dark: #EEE;
	--shadow-dark: #000;
	--error-banner-border-dark: #9C1010;
	--error-banner-background-dark: #F76565;
	--error-banner-text-dark: #FFF;
	--td-device-output-background-dark: #2f1967;
	--td-input-background-dark: #2fc195;
	--td-system-output-background-dark: #7c2494;
	--td-system-auto-background-dark: #7c2494;

	--bg-color-light: #f1fcfa;
	--text-color-light: #061813;
	--input-bg-color-light: #FFFFFF;
	--input-border-color-light: #cccccc;
	--canvas-border-color-light: #222;
	--settings-border-color-light: #666666;
	--settings-bg-color-light: #EEF;
	--link-color-light: #33F;
	--theme-bg-color-light: #EEE;
	--theme-color-light: #333;
	--shadow-light: #0003;
	--grid-color-light: #555;
	--error-banner-border-light: #9C1010;
	--error-banner-background-light: #F76565;
	--error-banner-text-light: #FFF;
	--td-device-output-background-light: #ae98e6;
	--td-input-background-light: #3dd0a4;
	--td-system-output-background-light: #c36bdb;
	--td-system-auto-background-light: #c36bdb;
}
:root.dark{
	--bg-color: var(--bg-color-dark);
	--text-color: var(--text-color-dark);
	--input-bg-color: var(--input-bg-color-dark);
	--input-border-color: var(--input-border-color-dark);
	--canvas-border-color: var(--canvas-border-color-dark);
	--settings-border-color: var(--settings-border-color-dark);
	--settings-bg-color: var(--settings-bg-color-dark);
	--link-color: var(--link-color-dark);
	--theme-bg-color: var(--theme-bg-color-dark);
	--theme-color: var(--theme-color-dark);
	--shadow: var(--shadow-dark);
	--grid-color: var(--grid-color-dark);
	--error-banner-border: var(--error-banner-border-dark);
	--error-banner-background: var(--error-banner-background-dark);
	--error-banner-text: var(--error-banner-text-dark);
	--td-device-output-background: var(--td-device-output-background-dark);
	--td-input-background: var(--td-input-background-dark);
	--td-system-output-background: var(--td-system-output-background-dark);
	--td-system-auto-background: var(--td-system-auto-background-dark);
}
:root.light{
	--bg-color: var(--bg-color-light);
	--text-color: var(--text-color-light);
	--input-bg-color: var(--input-bg-color-light);
	--input-border-color: var(--input-border-color-light);
	--canvas-border-color: var(--canvas-border-color-light);
	--settings-border-color: var(--settings-border-color-light);
	--settings-bg-color: var(--settings-bg-color-light);
	--link-color: var(--link-color-light);
	--theme-bg-color: var(--theme-bg-color-light);
	--theme-color: var(--theme-color-light);
	--shadow: var(--shadow-light);
	--grid-color: var(--grid-color-light);
	--error-banner-border: var(--error-banner-border-light);
	--error-banner-background: var(--error-banner-background-light);
	--error-banner-text: var(--error-banner-text-light);
	--td-device-output-background: var(--td-device-output-background-light);
	--td-input-background: var(--td-input-background-light);
	--td-system-output-background: var(--td-system-output-background-light);
	--td-system-auto-background: var(--td-system-auto-background-light);
}
@media (prefers-color-scheme: dark){
	:root.auto{
		--bg-color: var(--bg-color-dark);
		--text-color: var(--text-color-dark);
		--input-bg-color: var(--input-bg-color-dark);
		--input-border-color: var(--input-border-color-dark);
		--canvas-border-color: var(--canvas-border-color-dark);
		--settings-border-color: var(--settings-border-color-dark);
		--settings-bg-color: var(--settings-bg-color-dark);
		--link-color: var(--link-color-dark);
		--theme-bg-color: var(--theme-bg-color-dark);
		--theme-color: var(--theme-color-dark);
		--shadow: var(--shadow-dark);
		--grid-color: var(--grid-color-dark);
		--error-banner-border: var(--error-banner-border-dark);
		--error-banner-background: var(--error-banner-background-dark);
		--error-banner-text: var(--error-banner-text-dark);
		--td-device-output-background: var(--td-device-output-background-dark);
		--td-input-background: var(--td-input-background-dark);
		--td-system-output-background: var(--td-system-output-background-dark);
		--td-system-auto-background: var(--td-system-auto-background-dark);
	}
}
@media (prefers-color-scheme: light){
	:root.auto{
		--bg-color: var(--bg-color-light);
		--text-color: var(--text-color-light);
		--input-bg-color: var(--input-bg-color-light);
		--input-border-color: var(--input-border-color-light);
		--canvas-border-color: var(--canvas-border-color-light);
		--settings-border-color: var(--settings-border-color-light);
		--settings-bg-color: var(--settings-bg-color-light);
		--link-color: var(--link-color-light);
		--theme-bg-color: var(--theme-bg-color-light);
		--theme-color: var(--theme-color-light);
		--shadow: var(--shadow-light);
		--grid-color: var(--grid-color-light);
		--error-banner-border: var(--error-banner-border-light);
		--error-banner-background: var(--error-banner-background-light);
		--error-banner-text: var(--error-banner-text-light);
		--td-device-output-background: var(--td-device-output-background-light);
		--td-input-background: var(--td-input-background-light);
		--td-system-output-background: var(--td-system-output-background-light);
		--td-system-auto-background: var(--td-system-auto-background-light);
	}
}
body{
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: Arial, sans-serif;
	margin: 10px;
	transition: 0.3s;
	background-color: var(--bg-color);
	color: var(--text-color);
}
a{
	color: var(--link-color);
	text-decoration: none;
	transition: 0.3s;
}
a:hover{
	text-decoration: underline;
}
.body-content{
	max-width: 800px;
	line-height: 1.5em;
}
.theme-toggle{
	background-color: var(--theme-bg-color);
	color: var(--theme-color);
	padding: 5px;
	border-radius: 5px;
	font-weight: bold;
	text-decoration: none;
	cursor: pointer;
	border: none;
}
.theme-toggle:hover{
	transition: 0.3s;
	box-shadow:3px 3px var(--shadow);
}
input,
textarea,
select{
	background-color: var(--input-bg-color);
	color: var(--text-color);
	border: 1px solid var(--input-border-color);
	padding: 4px;
	transition: 0.3s;
}
.container-full{
	width: 100%;
}
.system-table{
	border-collapse: collapse;
}
.system-table th,
.system-table td.unit-header{
	border: 1px solid var(--grid-color);
	text-align: center;
	padding: 2px;
	vertical-align: bottom;
}
.system-table td{
	border: 1px solid var(--grid-color);
	min-width: 100px;
	padding: 2px;
}
.system-table td.td-index,
.system-table td.td-move,
.system-table td.td-remove,
.system-table td.td-icon,
.system-table td.td-color{
	min-width: 0px;
	text-align: center;
	padding: 0px 4px;
	vertical-align: middle;
}
.system-table .td-device-output,
.system-table .td-device-cascade{
	background-color: var(--td-device-output-background);
}
.system-table .td-input{
	background-color: var(--td-input-background);
}
.system-table .td-system-output,
.system-table .td-system-cascade{
	background-color: var(--td-system-output-background);
}
.system-table .td-system-auto{
	background-color: var(--td-system-auto-background);
}
.system-plot h2{
	margin: 0;
	text-align: center;
}
.system-plot canvas{
	border: 1px solid var(--canvas-border-color);
	box-shadow: 3px 3px var(--shadow);
	box-sizing: border-box;
	width: 100%;
	height: 100%;
}
input[type='color']{
	padding: 0px;
	border: none;
	background-color: transparent;
}
.system-table .td-icon canvas{
	width: 40px;
	height: 40px;
	padding: 0px;
	margin: auto;
}
.system-table td input{
	max-width: 100px;
	box-sizing: border-box;
}
.system-table td input[disabled="true"]{
	background-color: transparent;
	border: none;
}
#sys-container{
	overflow-x: auto;
	padding: 10px 0;
}
.visibility-controls{
	border: 1px solid rgb(13, 135, 235);
}
.visibility-selectors{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 4px;
}
.visibility-controls > div{
	border: 1px solid rgb(13, 135, 235);
	margin: 2px;
	box-sizing: border-box;
	padding: 2px;
}
.visibility-controls h4{
	margin: 0px;
}
.visibility-selectors div{
	transition: 0.3s;
	display: block;
	box-sizing: border-box;
	background-color: var(--theme-bg-color);
	color: var(--theme-color);
	border-radius: 2px;
	border: none;
	padding: 4px;
}
.visibility-selectors div:hover{
	border-radius: 5px;
}
.visibility-controls label,
.visibility-controls input{
	cursor: pointer;
	user-select: none;
	font-size: 0.8em;
	vertical-align: middle;
}
.td-header-button{
	text-align: center;
}
.td-hidden{
	display: none;
}
.td-header-button button,
.td-side-button button{
	border: none;
	cursor: pointer;
	background-color: var(--text-color);
	background-position: center;
	height: 16px;
	width: 16px;
	margin: 0 4px;
	padding: 2px;
}
.button-header-left{
	mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="black" stroke-linecap="round" stroke-linejoin="round" width="16" height="16" stroke-width="2"><path d="M15 6l-6 6l6 6"></path></svg>');
}
.button-header-hide{
	mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="black" stroke-linecap="round" stroke-linejoin="round" width="16" height="16" stroke-width="2"><path d="M10.585 10.587a2 2 0 0 0 2.829 2.828"></path><path d="M16.681 16.673a8.717 8.717 0 0 1 -4.681 1.327c-3.6 0 -6.6 -2 -9 -6c1.272 -2.12 2.712 -3.678 4.32 -4.674m2.86 -1.146a9.055 9.055 0 0 1 1.82 -.18c3.6 0 6.6 2 9 6c-.666 1.11 -1.379 2.067 -2.138 2.87"></path><path d="M3 3l18 18"></path></svg>');
}
.button-header-right{
	mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="black" stroke-linecap="round" stroke-linejoin="round" width="16" height="16" stroke-width="2"><path d="M9 6l6 6l-6 6"></path></svg>');
}
.button-side-up{
	mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="black" stroke-linecap="round" stroke-linejoin="round" width="16" height="16" stroke-width="2"><path d="M6 15l6 -6l6 6"></path></svg>');
}
.button-side-down{
	mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="black" stroke-linecap="round" stroke-linejoin="round" width="16" height="16" stroke-width="2"><path d="M6 9l6 6l6 -6"></path></svg>');
}
.button-side-remove{
	mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" width="16" height="16" stroke-width="2"><path d="M18 6l-12 12"></path><path d="M6 6l12 12"></path></svg>');
}
.scene-banner-error{
	position: absolute;
	top: 0px;
	margin: 5px 10px;
	max-width: 500px;
	border: 1px solid var(--error-banner-border);
	background-color: var(--error-banner-background);
	color: var(--error-banner-text);
	padding: 4px;
	border-radius: 4px;
}
